%centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    @extend %centered;
    padding: 1%;
    width: fit-content;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;

    i {
        color: var(--text-color);
        transition: all .3s ease;
    }

    &:hover {
        background-color: var(--text-color);
        color: var(--primary-color);

        i {
            color: var(--primary-color);
        }
    }

    &:active {
        background-color: var(--quaternary-color);
    }
}