:root {
    --primary-color: #f5ede0;
    --secondary-color: #a0846c;
    --thirdly-color: #c1a58a;
    --quaternary-color: #8b5e3c;
    --text-color: #3e2c20;
}

[data-theme="default"] {
    --primary-color: #f5ede0;
    --secondary-color: #a0846c;
    --thirdly-color: #c1a58a;
    --quaternary-color: #8b5e3c;
    --text-color: #3e2c20;
}